fieldset{
  border:none;
}

fieldset .formInputContainer{
  display:flex;
  flex-direction: column;
}

input, textarea{
  border: 1px solid #808e95;
  font-family: 'Roboto', sans-serif;
}

textarea{
  min-height: 110px;
}