.Nav{
  display:flex;
  flex-direction: row;
  width:300px;
  margin:auto;
}

a{
  flex: 1;
  text-decoration: none;
  color:black;
}

a div{
  max-width: 100px;
  margin:auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

a.active div{
  border-bottom: solid 8px #c6ff00;
}